...
body {
  background-image: url(https://wallpapercave.com/wp/Hdw6Roq.png
   )
  
}

body {
  font-family: 'Patrick Hand', cursive
}

h1 {
  color: rebeccapurple;
  margin-left: 20px;
  font-size: 100px;
  margin: 25 px;

  ;


}
p{ color: black;
font-size: 20}

  h2 { color: rgb(183, 0, 255;)
  font-size: 30}    
  
  


      
